MemoryLeakSample/MemoryLeakSample.Client/Service References/MemoryLeakService/LeakService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LongRequest">
        <s:complexType />
      </s:element>
      <s:element name="LongRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendEmail">
        <s:complexType />
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LongRequestSoapIn">
    <wsdl:part name="parameters" element="tns:LongRequest" />
  </wsdl:message>
  <wsdl:message name="LongRequestSoapOut">
    <wsdl:part name="parameters" element="tns:LongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="LeakServiceSoap">
    <wsdl:operation name="LongRequest">
      <wsdl:input message="tns:LongRequestSoapIn" />
      <wsdl:output message="tns:LongRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LeakServiceSoap" type="tns:LeakServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LongRequest">
      <soap:operation soapAction="http://tempuri.org/LongRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LeakServiceSoap12" type="tns:LeakServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LongRequest">
      <soap12:operation soapAction="http://tempuri.org/LongRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeakService">
    <wsdl:port name="LeakServiceSoap" binding="tns:LeakServiceSoap">
      <soap:address location="http://localhost:35978/LeakService.asmx" />
    </wsdl:port>
    <wsdl:port name="LeakServiceSoap12" binding="tns:LeakServiceSoap12">
      <soap12:address location="http://localhost:35978/LeakService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>